@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
.header-nav {
  width: 80%;
  margin: 0 auto;
}
.header-ul {
  display: flex;
  margin-left: 0;
  justify-content: center;
  list-style: none;
}
.header-li {
  padding: 30px 130px;
}
.header-href {
  text-decoration: none;
  color: #9d9d9d;
  font-size: 18px;
  text-transform: uppercase;
}
.headphones {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.headphones-info,
.headphones-image {
  width: 45%;
}
.headphones-info-title {
  text-transform: capitalize;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 40px;
}
.headphones-info-text {
  color: #6f6f6f;
  line-height: 30px;
}
.headphones-image {
  display: flex;
  justify-content: flex-end;
}
.headphones-info-btn {
  outline: none;
  border: none;
  padding: 12px 50px;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 100;
  border-radius: 23px;
  background-color: #ff0000;
}
.first-image {
  width: 500px;
  position: relative;
  right: -62px;
}
.powerbeats {
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
  background-color: #fbfcff;
}
.powerbeats-article-image,
.powerbeats-info {
  width: 50%;
}
.powerbeats-info-title {
  text-align: left;
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 30px;
}
.powerbeats-low-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 60px;
}
.powerbeats-low-title-bold {
  font-weight: 600;
}
.powerbeats-info-text {
  margin: 70px 0 70px 0;
  line-height: 30px;
}
.powerbeats-price {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.powerbeats-price-text {
  font-size: 40px;
  font-weight: 600;
}
.powerbeats-buy-btn {
  outline: none;
  border: none;
  padding: 12px 50px;
  height: 45px;
  position: relative;
  top: 42px;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 100;
  border-radius: 23px;
  background-color: #ff0000;
}
.try-free {
  color: white;
  text-align: center;
  height: 300px;
  background-color: #575757;
}
.try-free-article {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.try-free-image {
  margin-right: 40px;
}
.try-free-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
}
.try-free-title-bold {
  font-weight: 600;
}
.try-free-read-more {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 1px solid white;
  width: 195px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.give-life {
  display: flex;
  height: 700px;
  justify-content: space-between;
}
.give-life-image,
.give-life-red {
  width: 50%;
}
.give-life-image img {
  width: 100%;
  height: 700px;
}
.give-life-red {
  display: flex;
  flex-direction: row;
  background-color: #dadada;
}
.give-life-left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.give-life-red img {
  padding: 30px;
}
.give-life-red-first-paragraph {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
}
.give-life-red-second-paragraph-red {
  text-transform: uppercase;
  font-weight: 600;
  color: red;
  font-size: 45px;
}
.give-life-red-second-paragraph {
  font-weight: 100;
  font-size: 45px;
}
.footer {
  height: 150px;
  text-align: center;
}
.footer-text {
  font-size: 30px;
  padding: 30px;
}
